package controllers

import (
    "{{.ProjectName}}/internal/models"
    "{{.ProjectName}}/internal/services"
)

type {{.ResourceName}}Controller struct {
    service *services.{{.ResourceName}}Service
}

func New{{.ResourceName}}Controller(service *services.{{.ResourceName}}Service) *{{.ResourceName}}Controller {
    return &{{.ResourceName}}Controller{
        service: service,
    }
}

func (c *{{.ResourceName}}Controller) Create(data *models.{{.ResourceName}}) (*models.{{.ResourceName}}, error) {
    newData, err := c.service.Create(data)
    if err != nil {
        return nil, err
    }
    return newData, nil
}

func (c *{{.ResourceName}}Controller) GetAll() ([]models.{{.ResourceName}}, error) {
    items, err := c.service.List()
    if err != nil {
        return nil, err
    }
    return items, nil
}

func (c *{{.ResourceName}}Controller) GetByID(id int) (*models.{{.ResourceName}}, error) {
    item, err := c.service.Get(id)
    if err != nil {
        return nil, err
    }
    return item, nil
}

func (c *{{.ResourceName}}Controller) Update(id int, data *models.{{.ResourceName}}) (*models.{{.ResourceName}}, error) {
    updatedData, err := c.service.Update(data, id)
    if err != nil {
        return nil, err
    }
    return updatedData, nil
}

func (c *{{.ResourceName}}Controller) Delete(id int) error {
    return c.service.Delete(id)
}