package models

type {{.ResourceName}} struct {
    ID int
    {{- range $key, $value := .ResourceFields}}
    {{$key}} {{$value}}
    {{- end}}
}

{{- range $key, $value := .ResourceFields}}
{{- if isPrivate $key}}
func (r *{{$.ResourceName}}) Get{{capitalize $key}}() {{$value}} {
    return r.{{$key}}
}
func (r *{{$.ResourceName}}) Set{{capitalize $key}}(value {{$value}}) {
    r.{{$key}} = value
}
{{- end}}
{{- end}}